@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

* {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Hahmlet', serif;
  background-color: #1e3a4075;
}

.main-content {
  margin: 0 auto;
  width: 90vh;
  height: 100vh;
  background-color: #1e3a40;
}

.sticky-section {
  width: 90vh;
  height: 300vh;
}

.before-content,
.after-content {
  width: 90vh;
  height: 100vh;
  background-color: #a6855d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: white;
  font-weight: 700;
}

.after-content {
  align-items: flex-start;
}

.sticky-content {
  position: sticky;
  top: 0px;
  background-color: #a6855d;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.card-wrapper {
  position: absolute;
  width: 100%;
  height: 20vw;
  display: flex;
  transform: translateX(100%);
  justify-content: space-between;
  align-items: center;
}

.card {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: perspective(100vw);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

/* 기본적으로 카드들을 뒤집은 채로 차곡차곡 샇아야 함 */

.front {
  background-color: #1e3a40;
  transform: rotateY(180deg);
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.back {
  background-color: #a64833;
}
