button {
  width: 30%;
  height: 30%;
  font-size: 50px;
  margin: 0 auto;
  display: block;
  background-color: green;
  color: white;
  border: 0px;
  border-radius: 40%;
}

button:active {
  box-shadow: 0 0 10px black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

section {
  display: flex;
  padding: 0 20%;
  justify-content: space-between;
}

div {
  padding: 5%;
  box-shadow: 0 0 10px black;
  border-radius: 30%;
}
