@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap');

* {
  font-family: 'Hahmlet', serif;
  font-weight: 900;
  user-select: none;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 200px;
  position: relative;
  margin: 0px auto;
  height: 800px;
}

.card {
  width: 200px;
  height: 400px;
  background-color: #04bfbf;
  position: absolute;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  transition: transform 1s;
}

#first-card {
  transform: translateX(0px) translateY(150px) scale(2);
  box-shadow: 0px 0px 30px 5px white;
  z-index: 6;
}

#second-card {
  transform: translateX(350px) translateY(130px) rotateX(-15deg) rotateY(45deg);
  z-index: 5;
}

#third-card {
  transform: translateX(350px) translateY(-130px) rotateX(-45deg)
    rotateY(125deg) scale(0.8);
  z-index: 2;
}

#fourth-card {
  transform: translateX(0px) translateY(-200px) rotateX(-45deg) rotateY(180deg)
    scale(0.7);
  z-index: 1;
}

#fifth-card {
  transform: translateX(-350px) translateY(-130px) rotateX(-45deg)
    rotateY(225deg) scale(0.8);
  z-index: 3;
}

#sixth-card {
  transform: translateX(-350px) translateY(130px) rotateX(-15deg)
    rotateY(315deg);
  z-index: 4;
}
