* {
  font-family: 'kakao';
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.to-do-list {
  width: 100%;
  max-width: 800px;
  height: 700px;
  background-color: #fff;
  border-radius: 30px;
  margin-top: 300px;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0px 0px 30px 10px #888888;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
}

#progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-total {
  flex: 1;
  width: 200px;
  height: 30px;
  background-color: #eee;
  margin-right: 10px;
  border-radius: 30px;
  transition: box-shadow 1s ease;
}

#progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  width: 0%;
  height: 100%;
  background-color: red;
  border-radius: 30px;
  transition: width 1s ease;
}

#progress-text {
  font-size: 20px;
}

.input-goal {
  display: flex;
  justify-content: center;
}

input {
  width: 40%;
  height: 30px;
  margin-right: 10px;
  border-radius: 30px;
  background-color: #eee;
  border: 0px;
  text-align: center;
  font-size: 20px;
  transition: box-shadow 0.3s ease, width 0.5s ease;
}

input:focus {
  outline: none;
  width: 70%;
  box-shadow: 5px 5px 10px 0px #888888;
}
input:hover {
  box-shadow: 5px 5px 10px 0px #888888;
}

#text-submit {
  border-radius: 30px;
  background-color: #68f2af;
  border: 0px;
  transition: box-shadow 0.4s ease;
}

#text-submit:hover {
  box-shadow: 5px 5px 10px 0px #888888;
  transition: box-shadow 0.3s ease;
}

#content {
  background-color: #68f2af;
  width: 95%;
  height: 70%;
  margin: 30px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 5px whitesmoke;
  overflow-y: scroll;
}
/* 스크롤바 설정 */

#content::-webkit-scrollbar {
  width: 10px;
}

#content::-webkit-scrollbar-thumb {
  background-color: #ab5edb38;
  width: 5px;
  max-height: 5px;
  border-radius: 30px;
}

.inner-wrapper {
  width: 0; /* 처음에는 width 를 0으로 생성*/
  height: 0;
  background-color: #ab5edb;
  overflow: hidden;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 25px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  transition: width 1.5s ease-in-out, height 1.5s ease-in-out,
    box-shadow 1.5s ease-in-out;
}

.typed-goal {
  overflow-y: hidden;
  opacity: 0;
  transition: opacity 4s ease;
}

.button-wrapper {
  position: relative;
  display: flex;
  opacity: 0;
  transition: opacity 3s ease;
}

.button-wrapper > button {
  background-color: #68f2af;
  border-radius: 30px;
  border: 0px;
  margin-right: 5px;
  font-size: 15px;
}

.button-wrapper button:hover {
  box-shadow: 0px 5px 10px 0px white;
  transition: box-shadow 0.3s ease;
}
